{
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 100%;
	height: 100%;
/*	background: url(../IMG/HTML/Dark.png);*/
}.container{
	width: 1440px;
/*
	height: 3219px;
	background: #E1393C;
*/
}
.header-main{
	width: 100%;
	height: 100px;
/*	background: #E41D21;*/
	position: absolute;
	z-index: 10;
	background: #EBEBEB;
}
.logo{
	width: 20%;
	height: 100px;
/*	background: #F46265;*/
}
.logo a img{
	width: 100%;
}
.social-icon{
	width: 250px;
	height: 100px;
/*	background: #6375CB;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	}
.hidden{
	width: 100%;
	height: 988px;
	background: url(../IMG/Bg2-01.png);
}
.Sketch{
	display: flex;
	justify-content: center;
	position: relative;
	top: 265px;
	left: 40px;
	animation: Sketch 2s infinite linear alternate;
	}
@keyframes Sketch{
	from{
		transform: translate(30px)
	}
	to{
		transform: translate(-30px)
	}
}
.tay-tren{
	display: flex;
	justify-content: center;
	position: relative;
	top: -685px;
	left: 715px
}
.tay-duoi{
	display: flex;
	justify-content: center;
	position: relative;
	top: 210px;
	right: 730px;
}
.hidden-2{
	width: 100%;
	height: 900px;
    background: url(../IMG/HTML/Background.png) fixed;
}
.head-line{
	display: flex;
	justify-content: center;
	padding-top: 100px;
}
.hinh{
	width: 1340px;
	height: 476px;
/*	background: #D5A8A9;*/
	margin: 0 auto;
}
.head-line-2{
	position: relative;
	top: 100px;
	display: flex;
	justify-content: center;
}
.hidden-3{
	width: 100%;
	height: 950px;
	background: url(../IMG/HTML/Background.png) fixed;
}
.head-line-3{
	display: flex;
	justify-content: center;
	position: relative;
	top: 100px
}
.hinh-2{
	width: 1340px;
	height: 476px;
	background: #D5A8A9;
	margin: 0 auto;
	position: relative;
	top: 150px
}
.hidden-4{
	width: 100%;
	height: 10px;
    background: url(../IMG/HTML/Background.png) fixed;
}
.truoc{
	display: flex;
	justify-content: center;
	position: relative;
	top: -120px;
	animation: truoc 2s infinite linear alternate;
}
@keyframes truoc{
	from{
		transform: translate(50px)
	}
	to{
		transform: translate(-50px)
	}
}
.only-nhat{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 10px;
}
.footer{
	width: 100%;
	height: 246px;
	background: url( ../IMG/HTML/Dark.png);
}
